body {
    background-color: rgb(19, 19, 19);
    color: white;
}

.swiper {
    width: 100%;
    height: 520px;
}

.swiper .swiper-slide {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#slide1 {
    background-image: url("https://sc-b1-06.scws-content.net/images/9/93864ff3-d1e6-4961-8dee-0f12016fa495.jpg");
}

#slide2 {
    background-image: url("https://sc-b1-07.scws-content.net/images/2/b880d89f-4a3c-4ded-9598-d77a46aec9fa.jpg");
}

#slide3 {
    background-image: url("https://sc-b1-06.scws-content.net/images/9/aca40cbc-e31d-4a18-a951-e5e6940e7c6c.jpg");
}

.swiper .swiper-slide .h6 {
    color: rgba(187, 179, 179, 0.973);
    max-width: 50%;
}

.swiper .swiper-slide a {
    color: transparent;
}

.swiper .swiper-slide button {
    color: white;
    border: transparent;
    border-radius: 4%;
    background-color: #e50914;
    margin: 0.2%;
    height: 40px;
    width: 100px;
    text-align: center;

}

.swiper .swiper-pagination-bullet-active {
    background-color: #e50914 !important;
}

.swiper2 {

    height: 250px;
    overflow-x: hidden;
    text-overflow: "-";

}



.swiper3 {

    width: 100%;
    height: 250px;
    overflow-x: hidden;
    text-overflow: "-";

}

.swiper4 {

    width: 100%;
    height: 250px;
    overflow-x: hidden;
    text-overflow: "-";

}

.swiper2 .swiper-slide {
    text-align: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("no-image.jpg");
}

.swiper3 .swiper-slide {
    text-align: center;
    background-image: url("no-image.jpg");
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper4 .swiper-slide {
    text-align: center;
    background-image: url("no-image.jpg");
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.swiper-button-prev:after {
    color: white;
    background-color: transparent;
}

.swiper-button-next:after {
    color: white;
    background-color: transparent;
}

#next3 {
    position: relative;
}

#next2 {
    position: relative;
}

#next {
    position: relative;
}

#prev {
    position: relative;
    left: 65px;
}

#prev2 {
    position: relative;
    left: 65px;
}

#prev3 {
    position: relative;
    left: 65px;
}

#Film {
    margin-left: 9%;
    width: fit-content;
}

#serie {
    margin-left: 9%;
    width: fit-content;
}

#giochi {
    margin-left: 9%;
    width: fit-content;
}


.swiper2 .swiper-slide:hover {

    transform: scale(0.9);
    border: 3px solid #d0d0d0;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

.swiper3 .swiper-slide:hover {

    transform: scale(0.9);
    border: 3px solid #d0d0d0;
}

.swiper4 .swiper-slide:hover {

    transform: scale(0.9);
    border: 3px solid #d0d0d0;
}

@media screen and (max-width: 768px) {

    .swiper .swiper-slide .h6 {
        color: rgba(187, 179, 179, 0.973);
        max-width: 100%;
    }

    p.h6 {

        max-height: 320px;
        overflow-y: hidden;
        margin-bottom: 15px;
    }

    #Film {
        margin-left: 0%;
    }

    #serie {
        margin-left: 0% !important;
    }

    #giochi {
        margin-left: 0 !important;
    }

    #prev {
        display: none;
    }

    #next {
        display: none;
    }

    #prev2 {
        display: none;
    }

    #next2 {
        display: none;
    }

    #prev3 {
        display: none;
    }

    #next3 {
        display: none;
    }


    #cerca {
        display: none !important;

    }

    #searchbar {
        margin-left: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p.h2 {
        font-size: 22px;
    }

}


@media screen and (max-width: 1200px) {



    .swiper .swiper-slide .h6 {
        color: rgba(187, 179, 179, 0.973);
        max-width: 100%;
    }

    p.h6 {

        max-height: 320px;
        overflow-y: hidden;
        margin-bottom: 15px;
    }




    #film {
        margin-left: 9% !important;
    }

    #serie {
        margin-left: 9%;
    }

    #giochi {
        margin-left: 9%;
    }

    #prev {
        display: none;
    }

    #next {
        display: none;
    }

    #prev2 {
        display: none;
    }

    #next2 {
        display: none;
    }

    #prev3 {
        display: none;
    }

    #next3 {
        display: none;
    }


    #cerca {
        display: none !important;

    }

    #searchbar {
        margin-left: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}